flows.json
[{"id":"b899f71d.69edc8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ab848d3d.9a42c","type":"ui_form","z":"b899f71d.69edc8","name":"","label":"","group":"597f9a5b.596494","order":0,"width":0,"height":0,"options":[{"label":"","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":320,"wires":[["78fa8014.5d815"]]},{"id":"a9d6db84.b5f438","type":"inject","z":"b899f71d.69edc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["78fa8014.5d815"]]},{"id":"78fa8014.5d815","type":"function","z":"b899f71d.69edc8","name":"","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"WF7eJ3RRKvdiX-p_xCmu393UFVpMeL8grvlhXDKwrcvf\"\nmsg.headers={\"Content-Type: application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":6,"initialize":"","finalize":"","x":330,"y":260,"wires":[["2529b5a2.dd6c2a"]]},{"id":"2529b5a2.dd6c2a","type":"http request","z":"b899f71d.69edc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":360,"wires":[["29d3b8e9.300178"]]},{"id":"29d3b8e9.300178","type":"function","z":"b899f71d.69edc8","name":"","func":"var ye =global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"4ef8287c-7920-4dfa-a9ba-dddb2aba49d7\"\nheader = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + iam_token, 'ML-Instance-ID': ml_instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"classification\"], \"values\": {[\"ye\"]]}]}\nreturn msg;","outputs":1,"noerr":7,"initialize":"","finalize":"","x":680,"y":260,"wires":[["4e3103f6.c2535c"]]},{"id":"4e3103f6.c2535c","type":"http request","z":"b899f71d.69edc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/1a7d19d7-f7b0-4f5a-8e7f-2f6d900a402f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":360,"wires":[["f0521b0a.b00e98"]]},{"id":"b05d2738.647c88","type":"debug","z":"b899f71d.69edc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"f0521b0a.b00e98","type":"function","z":"b899f71d.69edc8","name":"","func":"msg.payload=payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":120,"wires":[["dc3e7f67.11924","b05d2738.647c88"]]},{"id":"dc3e7f67.11924","type":"ui_text","z":"b899f71d.69edc8","group":"597f9a5b.596494","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":380,"wires":[]},{"id":"597f9a5b.596494","type":"ui_group","z":"","name":"Chronic Disease","tab":"a4f04a81.a7a0f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4f04a81.a7a0f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]